@model UserModel
@{
    ViewData["title"] = "Đăng Ký";
}


<section id="">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form asp-action="Create" asp-controller="account">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label>UserName</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label>PhoneNumber</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                        <div style="display:flex; justify-content:space-between">
                            <div>
                                <button class="btn btn-default">Sign Up</button>
                            </div>
                            <div>
                                <span>
                                    <a asp-controller="account" asp-action="login">Already have an Account ?</a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}