
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image" style="padding-left: 3px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40" fill="" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
        </div>
        <div class="info">
            <a href="#" class="d-block">@User.Identity.Name</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <!--<div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>-->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản Lý Sản Phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-controller="Category" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh Mục Sản Phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Product" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản Phẩm</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Brand" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Brand
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Coupon" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Coupon 
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Order" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Orders
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Shipping" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Manage Shipping
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Slider" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Slider
                    </p>
                </a>
            </li>
            
            <li class="nav-item">
                <a asp-controller="User" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Account
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Role" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Roles
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Contact" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Contact
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/home" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->